@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: poppins;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --d-pink: #921a40;
  --pink: #c75b7a;
  --light-pink: pink;
  --hero-section-bg:  #f4d9d0;
  --white: #faf8f8;

}
.buttons {
  display: flex;
  align-items: center;
}

.hero-section {
  background-color: var(--hero-section-bg);
}

.about-me {
  background-color: var(--d-pink);
  padding: 2rem 9rem;

}

.about-me p {
  color: var(--white);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

.about-me h2 {
  color :var(--white);
  margin-bottom: 0.7rem;
}


.about-me h2::first-letter {
  text-transform: capitalize;
}

body {
  position: relative;
}

.mobile-nav, .mobile-nav-visible {
  width: 250px;
  padding: 1rem 1.8rem 2rem 1.8rem;
  height: 100vh;
}


.mobile-nav {
  position: fixed;
  left: -100%;
  opacity: 0;
  top: 0;
  background-color: var(--d-pink);
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.mobile-nav-visible {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: var(--d-pink);
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

}



.nav-bar {
  background-color: var(--d-pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-image img {
  border-radius: 50px 50px 0 0;
}

a {
  color: var(--white);
}

.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap :2rem;

}

.hero-text, 
.hero-image {
  flex: 1;

}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  outline: 0;
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  transition: background 0.5s ease-in-out;

}

.about-button {
  border: 1px solid var(--d-pink);
  background-color: var(--d-pink);
}
.project-button {
  background: var(--hero-section-bg);
  border: 1px solid var(--d-pink);
  color: var(--d-pink);
}
.logo {
  font-size: 26px;
  color: var(--white);
  font-style: oblique;
}

@media screen and (min-width: 100px) and (max-width: 650px) 
{
  .desktop-nav  {
    display: none;
  }

 



  .close-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .close-icon {
    height: 35px;
    width: 35px;
  }

  .menu-icon {
    height: 35px;
    width: 35px;
  }

  .nav-link {
    margin-top: 1.8rem;
  }

 


  .logo {
    font-size: 20px;
  }

  .about-me h2 {
    font-size: 20px;

  }

  .hero-text h1, .hero-text h2 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
  }
  .hero-text p:first-of-type {
    margin-top: 1rem;
    font-size: 20px;
  }

  .hero-text p:nth-of-type(2) {
    margin-top: 0.5rem;
    line-height: 1.8;
  }

  .nav-bar {
    padding: 1.5rem 1.8rem;
  }
  button {
    padding: 0.6rem 1rem;
  }

  .about-button, .project-button {
    flex: 1;
  }


  .main-content {
    margin-top: 60px;
  }
  .hero-section, .about-me {
    padding: 2rem 1.8rem;
  }

  .buttons {
    margin-top: 2rem;
    gap: 1.5rem;
  }
}


.about-button {
  color: var(--white);
  font-weight: 600;
}


@media screen and (min-width: 650px) {
  .menu-icon {
    display: none;
  }
  .mobile-nav-visible {
    display: none;
  } 

  .about-me h2 {
    font-size: 40px;

  }

  

  button {
    padding: 0.6rem 1.9rem;
  }

  .hero-text h1, .hero-text h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
  }
  .hero-text p:first-of-type {
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 400;
  }
  .hero-text p:nth-of-type(2) {
    margin-top: 0.5rem;
    line-height: 1.8;
    font-size: 16.3px;
  }
  .buttons {
    margin-top: 2rem;
  
    gap: 2rem;
  }

  .mobile-nav {
    display: none;
  }
  .hero-image {
    position: relative;
  }

  .hero-image img {
    height:450px;
    position: absolute;
    bottom: -20rem;
  }

  .hero-section {
    padding: 8rem 9rem;
    flex-direction: row;
    gap: 3rem;
    height: 680px;
  }
  .nav-bar {
    padding: 2rem 10rem;
    height: 80px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
}



 
